
    <footer class="ftco-footer ftco-bg-dark ftco-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-6 col-lg-3">
            <div class="ftco-footer-widget mb-5">
              <h2 class="ftco-heading-2">Have a Question?</h2>
              <div class="block-23 mb-3">
                <ul>
                  <li>
                    <span class="icon icon-map-marker"></span
                    ><span class="text">1(N)1 Road, Near Bisola lodge, Phase 2, FHA, Lugbe, Abuja, Nigeria</span>
                  </li>
                  <li>
                    <a href="#"
                      ><span class="icon icon-phone"></span
                      ><span class="text">+234-808-046-2150</span></a
                    >
                  </li>
                  <li>
                    <a href="#"
                      ><span class="icon icon-envelope"></span
                      ><span class="text">info@uniqueprospectacademy.com</span></a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="ftco-footer-widget mb-5">
              <h2 class="ftco-heading-2">We Are Here</h2>
              <div class="block-21 mb-4 d-flex">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d63053.069591672735!2d7.296033931249991!3d8.988994600000005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x104e73d21ddd0aa7%3A0xca6afad9abd18cfb!2sBisola%20Lodge!5e0!3m2!1sen!2sng!4v1682313065270!5m2!1sen!2sng" width="600" height="150" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="ftco-footer-widget mb-5 ml-md-4">
              <h2 class="ftco-heading-2">Links</h2>
              <ul class="list-unstyled">
                <li>
                  <a href="/"
                    ><span class="ion-ios-arrow-round-forward mr-2"></span
                    >Home</a
                  >
                </li>
                <li>
                  <a href="/about"
                    ><span class="ion-ios-arrow-round-forward mr-2"></span
                    >About</a
                  >
                </li>
                <li>
                  <a href="/admissions"
                    ><span class="ion-ios-arrow-round-forward mr-2"></span
                    >Admissions</a
                  >
                </li>
                <li>
                  <a href="/gallery"
                    ><span class="ion-ios-arrow-round-forward mr-2"></span
                    >Gallery</a
                  >
                </li>
                <li>
                  <a href="/blog"
                    ><span class="ion-ios-arrow-round-forward mr-2"></span
                    >Blog</a>
                </li>
                <li>
                  <a href="/contact"
                    ><span class="ion-ios-arrow-round-forward mr-2"></span
                    >Contact</a
                  >
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="ftco-footer-widget mb-5">
              <h2 class="ftco-heading-2">Subscribe to Us!</h2>
              <form class="subscribe-form" method="POST" id="zcampaignOptinForm" action="https://zcvf-zcglf.maillist-manage.com/weboptin.zc" target="_zcSignup" onsubmit="zcScptlessSubmit(this)">
                <div id="errorMsgDiv" style="display: none;">Please correct the marked field(s) below.</div>
                <div class="form-group">
                  <input class="form-control mb-2 text-center" type="text"  placeholder="Name" changeitem="SIGNUP_FORM_FIELD" name="FIRSTNAME" id="FIRSTNAME">
                  <input class="form-control mb-2 text-center" placeholder="Email Address" changeitem="SIGNUP_FORM_FIELD" name="CONTACT_EMAIL" id="EMBED_FORM_EMAIL_LABEL" type="email">
                  <input class="form-control submit px-3" type="submit" name="SIGNUP_SUBMIT_BUTTON" id="zcWebOptin" value="Sign Up">
                </div>
                <input type="hidden" id="fieldBorder" value="">
                <input type="hidden" id="submitType" name="submitType" value="optinCustomView">
                <input type="hidden" id="emailReportId" name="emailReportId" value="">
                <input type="hidden" id="formType" name="formType" value="QuickForm">
                <input type="hidden" name="zx" id="cmpZuid" value="1301f267e">
                <input type="hidden" name="zcvers" value="3.0">
                <input type="hidden" name="oldListIds" id="allCheckedListIds" value="">
                <input type="hidden" id="mode" name="mode" value="OptinCreateView">
                <input type="hidden" id="zcld" name="zcld" value="1f310e625991b0f7">
                <input type="hidden" id="zctd" name="zctd" value="1f310e625991afc9">
                <input type="hidden" id="document_domain" value="">
                <input type="hidden" id="zc_Url" value="zcvf-zcglf.maillist-manage.com">
                <input type="hidden" id="new_optin_response_in" value="0">
                <input type="hidden" id="duplicate_optin_response_in" value="0">
                <input type="hidden" name="zc_trackCode" id="zc_trackCode" value="ZCFORMVIEW">
                <input type="hidden" id="zc_formIx" name="zc_formIx" value="3z440ae73af382ac1578b2f78af640acddb430b61da5b0f2db0105b11565976a78">
                <input type="hidden" id="viewFrom" value="URL_ACTION">
                <input type="hidden" id="scriptless" name="scriptless" value="yes">
                <input type="hidden" id="zc_spmSubmit" name="zc_spmSubmit" value="ZCSPMSUBMIT">
              </form>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <p>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy; 2023 All rights reserved | This template is made with by
              <a href="https://colorlib.com" target="_blank">Colorlib</a> and powered by <a href="#" target="_blank">InfoPractice</a>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
          </div>
        </div>
      </div>
    </footer>
    <!-- Newsletter subscription -->
    <script>
      function zcScptlessSubmit(parentNode){
        if(parentNode.querySelector("#zc_spmSubmit")){parentNode.querySelector("#zc_spmSubmit").remove();}parentNode.submit();
      }
    </script>
<!-- End Newsletter subscription -->
    <!-- Online chat tool -->
    <!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/643a4e134247f20fefebc4d6/1gu1s2113';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->

    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen">
      <svg class="circular" width="48px" height="48px">
        <circle
          class="path-bg"
          cx="24"
          cy="24"
          r="22"
          fill="none"
          stroke-width="4"
          stroke="#eeeeee"
        />
        <circle
          class="path"
          cx="24"
          cy="24"
          r="22"
          fill="none"
          stroke-width="4"
          stroke-miterlimit="10"
          stroke="#F96D00"
        />
      </svg>
    </div>
    
    <script type = "text/javascript" src="/js/submit-form.js"></script>  

    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.easing.1.3.js"></script>
    <script src="/js/jquery.waypoints.min.js"></script>
    <script src="/js/jquery.stellar.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/aos.js"></script>
    <script src="/js/jquery.animateNumber.min.js"></script>
    <script src="/js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="/js/main.js"></script>
