    <nav
      class="navbar navbar-expand-lg navbar-dark bg-dark ftco_navbar ftco-navbar-light"
      id="ftco-navbar">
      <div class="container d-flex align-items-center">
        <a class="navbar-brand" href="/">
        <img src="/images/logo.png" alt="" width="80" height="70"></img>
        Unique Prospect Montessori Academy</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#ftco-nav"
          aria-controls="ftco-nav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="oi oi-menu"></span> Menu
        </button>
        <div class="collapse navbar-collapse" id="ftco-nav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item {{ 'active' if page.fileSlug == '' }}">
              <a href="/" class="nav-link pl-0">Home</a>
            </li>
            <li class="nav-item {{ 'active' if page.fileSlug == 'about' }}">
              <a href="/about" class="nav-link">About</a>
            </li>
            <li class="nav-item {{ 'active' if page.fileSlug == 'admissions' }}">
              <a href="/admissions" class="nav-link">Admissions</a>
            </li>
            <li class="nav-item {{ 'active' if page.fileSlug == 'gallerry' }}">
              <a href="/gallery" class="nav-link">Gallery</a>
            </li>
            <li class="nav-item {{ 'active' if page.fileSlug == 'blog' }}">
              <a href="/blog" class="nav-link">News</a>
            </li>
            <li class="nav-item {{ 'active' if page.fileSlug == 'contact' }}">
              <a href="/contact" class="nav-link">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- END nav -->