---
layout: "base.njk"
---

<section
  class="hero-wrap hero-wrap-2"
  style="background-image: url('/images/bg_2.jpg')"
>
  <div class="overlay"></div>
  <div class="container">
    <div
      class="row no-gutters slider-text align-items-center justify-content-center"
    >
      <div class="col-md-9 ftco-animate text-center">
        <h1 class="mb-2 bread">Our Blog</h1>
        <p class="breadcrumbs">
          <span class="mr-2"
            ><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a
          ></span>
          <span>Blog <i class="ion-ios-arrow-forward"></i></span>
        </p>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section bg-light">
  <div class="container">
    <div class="row">

      {% for post in collections.posts | reverse %}
            <div class="col-md-6 col-lg-4 ftco-animate">
              <div class="blog-entry">
                <a
                  href="{{ post.url }}"
                  class="block-20 d-flex align-items-end"
                  style="background-image: url('{{ post.data.image }}')"
                >
                  <div class="meta-date text-center p-2">
                    <span class="day">{{ post.data.date | dateToISO | post.data.date('D') }}</span>
                    <span class="mos">{{ post.data.date | dateToISO | post.data.date('MMMM') }}</span>
                    <span class="yr">{{ post.data.date | dateToISO | post.data.date('YYYY') }}</span>
                  </div>
                </a>
                <div class="text bg-white p-4">
                  <h3 class="heading">
                    <a href="#">{{ post.data.tittle }}</a>
                  </h3>
                  <p>
                    {{ post.data.description }}
                  </p>
                  <div class="d-flex align-items-center mt-4">
                    <p class="mb-0">
                      <a href="{{ post.url }}" class="btn btn-secondary"
                        >Read More <span class="ion-ios-arrow-round-forward"></span
                      ></a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
      {% endfor %}
    </div>

    <div class="row no-gutters my-5">
      <div class="col text-center">
        <div class="block-27">
          <ul>
            <li>
              <a href="#"><i class="ion-ios-arrow-back"></i></a>
            </li>
            <li class="active"><span>1</span></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
              <a href="#"><i class="ion-ios-arrow-forward"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
