---
title: "About Us"
layout: "inner.njk"
backgroundImage: "/images/bg_2.jpg"
breadText : "About"
breadTitle : "About Us"
---
{% block customScripts %}
<script type = "text/javascript" src="/js/about.js"></script>  
{% endblock customScripts %}

<section class="ftco-section ftco-no-pt ftc-no-pb">
  <div class="container">
    <div class="row">
      <div class="col-md-5 order-md-last wrap-about py-5 wrap-about bg-light">
        <div class="text px-4 ftco-animate">
           <h2 class="mb-4">VISSION</h2>
           <P> To transform our nation by nurturing excellent and upright future leaders with high quality and sound education.
          </p>
          <h2 class="mb-4">MISSION</h2>
            <p>
            To produce a total child who is academically, morally and socially distinct and well equipped as future leaders.
           </p>
         <h2 class="mb-4">MOTTO</h2>
          <p>
            Nurturing for excellence
            </p>
          
          </div>
        <div class="text px-4 ftco-animate">
          <h2 class="mb-4">HISTORY</h2>
          <p>
            Unique Prospect Montessori Academy is a citadel of learning that was
            established on the 13th of September, 2016 by Mrs. Adenike Mustapha.
            It was born out of passion and desire to nurture young children to
            be leaders of tomorrow. The school was birthed after much prayer and leading of God due to the passion to nurture and tutor young minds to become responsible future leaders who will transform our dear country Nigeria and also become national figures in their generation.
          </p>
          <p>
            w. The school started with just 2 pupils in pre-nursery class and
            four teachers and by the grace of God we have close to 200 students and
            over 30 staff. </p>
            <p>The school has crèche, Nursery, primary and junior
            secondary school with qualified teachers that are seasoned with
            trending innovations for teaching and learning, and conducive
            environment for learning. </p>
            <p>The school practice Montessori method of
            teaching that is based on self –directed activity, hands-on learning
            and collaborative play.
          </p>
          <p>
The school received her approval in October, 2020. Presently process of center for Junior WAEC in the school premises is going.
We maintain a high standard and we have never compromised.</p>
        </div>

        <div class="text px-4 ftco-animate">
          <h2 class="mb-4">PROPRIETRESS' PROFILE</h2>
          <p>
Mrs. Adenike Mustapha is purely in education line. As an educationist, she possesses the following certificates, which enable her to have a foundational skill on how to run the school:
<ol>
<li>National Certificate in Education (N.C.E)
<li>Bachelor of Science in Education (B. ED)
<li>Master degree in Guardian and Counselling (M.ED).
</ol>
          </p>
          
        </div>
      </div>
      <div class="col-md-7 wrap-about py-5 pr-md-4 ftco-animate">
        <h2 class="mb-4">We Are Truly Unique</h2>
        <p>
          Unique prospect Montessori Academy is literarily "unique" as the name
          truly implies. You expressly experience uniqueness in standard of
          education, unique content delivery, unique conducive environment
          designed to aid fast- paced learning and we also have wonderful
          teachers uniquely selected to bring about a total education of your
          children. Unique prospect Montessori academy is a sure plug for
          parents who want the best for their wards.
        </p>
        <p>
          Our adopted learning methods will definitely bring you excitement and
          amaze you in following ways:
        </p>
        <div class="row mt-5">
          <div class="col-lg-12">
            <div class="services-2 d-flex">
              <div
                class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"
              >
                <span class="flaticon-security"></span>
              </div>
              <div class="text">
                <h3>Academic Excellence</h3>
                <p>
                 Unique Prospect Montessori Academy engages well qualified, time tested and passionate educators right from the lower basic to the upper basic sections to deliver her school programs. Standards are never compromised at every level. With these breed of staff running the program of the school every learner looks forward to a new school day to join their mates in class for a well simplified math, language art and other academic subjects / extra-curricular lessons. These development impressed our parents hence they are happy with the school.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="services-2 d-flex">
              <div
                class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"
              >
                <span class="flaticon-reading"></span>
              </div>
              <div class="text">
                <h3>Character Development</h3>
                <p>
Unique Prospect Montessori Academy has a character development program in place which ensures that the academic learnings do not suffer abuse standing alone. Self-contentment, honestly, good study habit, respect of constituted authorities and gender explosions are some out of the numerous topics and disciplines inculcated into our learners. We believe that champions are sustained by good manners and modesty.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="services-2 d-flex">
              <div
                class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"
              >
                <span class="flaticon-diploma"></span>
              </div>
              <div class="text">
                <h3>School community</h3>
                <p>
                 
My school realized early, that the imperative for school learning is to remove the distance / barrier that may exist between parents and school. This is achieved through our PTA – Parents Teachers Association which meets twice in a session and the PTF- Parents Teachers fellowship holding once in a session.
The PTF is a prayer session instituted to bring parents and teachers together under one atmosphere of prayer, for both learners teachers and parents. The PTA helps us to have a meaningful interactions with parents, listen to their stories, their fears and make their experience our learning tools. Evidently at any time the school community convenes, we project the learners as the very reason we gather as staff. To put it succinctly, we stand-out in the midst of other schools for the following reasons:
<ol>
  <li> Building community and developing new friendships for parents
<li>  Developing a more homogenous social circle for children and parents.
<li>  Meeting the expectations of grandparents (parents' parents) or other family members
<li>  Providing a worry-free experience that relives the stress of having to continuously monitor school progress and advocate for children
<li> Providing seamless access to tutoring or other supports
<li>  Communicating in ways that find the balance between providing “must know” information and validation of continuing to make the right choice
<li>  Assuring parents that they will fit in with other families at the school and
<li>  Relieving a sense of guilt about parents ability to afford a higher tuition fees and separating themselves from peers
</ol>
    
</p>
              </div>
            </div>
          </div>
          
          <div class="col-lg-6">
            <div class="services-2 d-flex">
              <div
                class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"
              >
                <span class="flaticon-jigsaw"></span>
              </div>
              <div class="text">
                <h3>Survey</h3>
                <p>
Parents satisfaction survey is taken, respondents are allow to rate the school based on something like,
<ul>
<li>How satisfied are you with quality of academic program – the math curriculum, the language arts program?
<li>To what extent do you feel your child is developing positive character traits?
<li>What can be done to ensure my ward does better?
<li> How qualified the teachers are
<li> How comfortable is the learning environment…and lots more
</ul>
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="services-2 d-flex">
              <div
                class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"
              >
                <span class="flaticon-education"></span>
              </div>
              <div class="text">
                <h3>Extra-curricular Activities</h3>
                <p>
The school engage in other forms of learning outside the regular class activities e.g
<ul>
<li>Home makers club
<li> Jets club
<li> Literary and debating club
<li> Press club
<li> Music club
</ul>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section
  class="ftco-section ftco-counter img"
  id="section-counter"
  style="background-image: url(/images/bg_7.jpg)"
  data-stellar-background-ratio="0.5"
>
  <div class="container">
    <div class="row justify-content-center mb-5 pb-2">
      <div
        class="col-md-8 text-center heading-section heading-section-black ftco-animate"
      >
        <h2 class="mb-4">
          <span id="schoolAge"></span>
          Years of Providing Unique Education and still Counting!
        </h2>
        <p>
          Over the past years, we have dedicated ourselves to creating a safe,
          nurturing, and stimulating learning environment where children can
          grow and develop to their fullest potential and we will not stop until
          the last child on the street is afforded this unique opportunity!
        </p>
      </div>
    </div>
    <div class="row d-md-flex align-items-center justify-content-center">
      <div class="col-lg-10">
        <div class="row d-md-flex align-items-center">
          <div
            class="col-md d-flex justify-content-center counter-wrap ftco-animate"
          >
            <div class="block-18">
              <div class="icon"><span class="flaticon-doctor"></span></div>
              <div class="text">
                <strong class="number" data-number="18">0</strong>
                <span>Qualified Teachers</span>
              </div>
            </div>
          </div>
          <div
            class="col-md d-flex justify-content-center counter-wrap ftco-animate"
          >
            <div class="block-18">
              <div class="icon"><span class="flaticon-doctor"></span></div>
              <div class="text">
                <span
                  ><strong class="number" data-number="1000">0</strong>+</span
                >
                <span>Successful Kids</span>
              </div>
            </div>
          </div>
          <div
            class="col-md d-flex justify-content-center counter-wrap ftco-animate"
          >
            <div class="block-18">
              <div class="icon"><span class="flaticon-doctor"></span></div>
              <div class="text">
                <strong class="number" data-number="564">0</strong>
                <span>Happy Parents</span>
              </div>
            </div>
          </div>
          <div
            class="col-md d-flex justify-content-center counter-wrap ftco-animate"
          >
            <div class="block-18">
              <div class="icon"><span class="flaticon-doctor"></span></div>
              <div class="text">
                <strong class="number" data-number="300">0</strong>
                <span>Awards Won</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
