---
title: "Blog"
layout: "base.njk"
backgroundImage: "/images/bg_4.jpg"
breadText : "Blog"
breadTitle : "Our Blog"
customHeaderJS: "#"
customFooterJS: "#"
---
{% include "header_banner.njk" %}
<section class="ftco-section bg-light">
  <div class="container">
    <div class="row">
      {% for post in collections.posts | reverse %}
            <div class="col-md-6 col-lg-4 ftco-animate">
              <div class="blog-entry">
                <a
                  href="{{ post.url }}"
                  class="block-20 d-flex align-items-end"
                  style="background-image: url('{{ post.data.coverImage }}')"
                >
                  <div class="meta-date text-center p-2">
                    <span class="day">{{ post.date | dateToISO('d') }}</span>
                    <span class="mos">{{ post.date | dateToISO('MMMM') }}</span>
                    <span class="yr">{{ post.date | dateToISO('yyyy') }}</span>
                  </div>
                </a>
                <div class="text bg-white p-4">
                  <h3 class="heading">
                    <a href="{{ post.url }}">{{ post.data.title }}</a>
                  </h3>
                  <p>
                    {{ post.data.description }}
                  </p>
                  <div class="d-flex align-items-center mt-4">
                    <p class="mb-0">
                      <a href="{{ post.url }}" class="btn btn-secondary"
                        >Read More <span class="ion-ios-arrow-round-forward"></span
                      ></a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
      {% endfor %}
    </div>

    <div class="row no-gutters my-5">
      <div class="col text-center">
        <div class="block-27">
          <ul>
            <li>
              <a href="#"><i class="ion-ios-arrow-back"></i></a>
            </li>
            <li class="active"><span>1</span></li>
            <li>
              <a href="#"><i class="ion-ios-arrow-forward"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
