---
title: "Contact Us"
layout: "inner.njk"
backgroundImage: "/images/bg_2.jpg"
breadText : "Contact"
breadTitle : "Contact Us"
---
<section class="ftco-section contact-section">
  <div class="container">
    <div class="row d-flex mb-5 contact-info">
      <div class="col-md-2 d-flex">
        <div class="bg-light align-self-stretch box p-4 text-center">
          <h3 class="mb-4">Address</h3>
          <p>1(N)1 Road, Near Bisola lodge, Phase 2, FHA, Lugbe, Abuja</p>
        </div>
      </div>
      <div class="col-md-3 d-flex">
        <div class="bg-light align-self-stretch box p-4 text-center">
          <h3 class="mb-4">Contact Number</h3>
          <p><a href="tel://2348080462150">+234-808-046-2150</a></p>
        </div>
      </div>
      <div class="col-md-3 d-flex">
        <div class="bg-light align-self-stretch box p-4 text-center">
          <h3 class="mb-4">Email Address</h3>
          <p>
            <a href="mailto:info@uniqueprospectacademy.com"
              >info@uniqueprospectacademy.com</a
            >
          </p>
        </div>
      </div>
      <div class="col-md-4 d-flex">
        <div class="bg-light align-self-stretch box p-4 text-center">
          <h3 class="mb-4">Website</h3>
          <p>
            <a href="www.uniqueprospectmontessoriacademy.com"
              >uniqueprospectmontessoriacademy.com</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-no-pt ftco-no-pb contact-section">
  <div class="container">
    <div class="row d-flex align-items-stretch no-gutters">
      <div class="col-md-6 p-4 p-md-5 order-md-last bg-light">
        <form
          id="upma-form"
          method="post"
          action="https://script.google.com/macros/s/AKfycbxffOgNJ_QRap-GYBImCNBDicsm3F1yl2SRSx04-J0rUZ-tuu988whOJ0iWpzvauR4U/exec"
        >
          <div class="form-group">
            <input
              name="name"
              type="text"
              class="form-control"
              placeholder="Your Name"
            />
          </div>
          <div class="form-group">
            <input
              name="email"
              type="email"
              class="form-control"
              placeholder="Your Email"
            />
          </div>
          <div class="form-group">
            <input
              name="subject"
              type="text"
              class="form-control"
              placeholder="Subject"
            />
          </div>
          <div class="form-group">
            <textarea
              name="message"
              id="message"
              cols="30"
              rows="7"
              class="form-control"
              placeholder="Message"
            ></textarea>
          </div>
          <div class="form-group">
            <input
              type="submit"
              value="Send Message"
              class="btn btn-primary py-3 px-5"
            />
          </div>
        </form>
      </div>
      <div class="col-md-6 d-flex align-items-stretch">
         <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d63053.069591672735!2d7.296033931249991!3d8.988994600000005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x104e73d21ddd0aa7%3A0xca6afad9abd18cfb!2sBisola%20Lodge!5e0!3m2!1sen!2sng!4v1682313065270!5m2!1sen!2sng" width = "600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </div>
    </div>
  </div>
</section>

<script>
  window.addEventListener("load", function () {
    const form = document.getElementById("upma-form");
    const submitButton = form.querySelector('button[type="submit"]');

    form.addEventListener("submit", function (e) {
      e.preventDefault();
      submitButton.disabled = true; // disable the submit button

      const data = new FormData(form);
      const action = e.target.action;
      fetch(action, {
        method: "POST",
        body: data,
      })
        .then(() => {
          alert("Message sent successfully. Thank you!");
          form.reset(); // reset the form after successful submission
        })
        .catch((error) => console.error(error)) // catch and log any errors
        .finally(() => {
          submitButton.disabled = false; // re-enable the submit button
        });
    });
  });
</script>

