---
layout: "base.njk"
title: "Unique Prospect Montessori Academy, Lugbe, Abuja."
description: "Welcome to Unique Prospect Montessori Academy, Lugbe, Abuja."
customHeaderJS: "https://unpkg.com/netlify-cms@^2.0.0/dist/netlify-cms.js"
customFooterJS: "#"
---

{% block content %}    
<section class="home-slider owl-carousel">
  <div class="slider-item" style="background-image: url(/images/bg_1.jpg)">
    <div class="overlay"></div>
    <div class="container">
      <div
        class="row no-gutters slider-text align-items-center justify-content-center"
        data-scrollax-parent="true"
      >
        <div class="col-md-8 text-center ftco-animate">
          <h1 class="mb-4">
            "U - Unlock your child's potential"
            <span> with our holistic approach to learning.</span>
          </h1>
          <p>
            <a href="/about" class="btn btn-secondary px-4 py-3 mt-3"
              >Read More</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="slider-item" style="background-image: url(/images/bg_2.jpg)">
    <div class="overlay"></div>
    <div class="container">
      <div
        class="row no-gutters slider-text align-items-center justify-content-center"
        data-scrollax-parent="true"
      >
        <div class="col-md-8 text-center ftco-animate">
          <h1 class="mb-4">
            N - Nurturing creativity, critical thinking,
            <span> and problem-solving skills in every child.</span>
          </h1>
          <p>
            <a href="/about" class="btn btn-secondary px-4 py-3 mt-3"
              >Read More</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="slider-item" style="background-image: url(/images/bg_3.jpg)">
    <div class="overlay"></div>
    <div class="container">
      <div
        class="row no-gutters slider-text align-items-center justify-content-center"
        data-scrollax-parent="true"
      >
        <div class="col-md-8 text-center ftco-animate">
          <h1 class="mb-4">
            I - Individualized Attention<span>
              for a Unique Learning Journey</span
            >
          </h1>
          <p>
            <a href="/about" class="btn btn-secondary px-4 py-3 mt-3"
              >Read More</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="slider-item" style="background-image: url(/images/bg_4.jpg)">
    <div class="overlay"></div>
    <div class="container">
      <div
        class="row no-gutters slider-text align-items-center justify-content-center"
        data-scrollax-parent="true"
      >
        <div class="col-md-8 text-center ftco-animate">
          <h1 class="mb-4">
            Q - Quality Education
            <span> with a Unique Focus on Character Building</span>
          </h1>
          <p>
            <a href="/about" class="btn btn-secondary px-4 py-3 mt-3"
              >Read More</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="slider-item" style="background-image: url(/images/bg_5.jpg)">
    <div class="overlay"></div>
    <div class="container">
      <div
        class="row no-gutters slider-text align-items-center justify-content-center"
        data-scrollax-parent="true"
      >
        <div class="col-md-8 text-center ftco-animate">
          <h1 class="mb-4">
            U - Unleash Your Child's Potential
            <span> with our Unique Curriculum</span>
          </h1>
          <p>
            <a href="/about" class="btn btn-secondary px-4 py-3 mt-3"
              >Read More</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="slider-item" style="background-image: url(/images/bg_6.jpg)">
    <div class="overlay"></div>
    <div class="container">
      <div
        class="row no-gutters slider-text align-items-center justify-content-center"
        data-scrollax-parent="true"
      >
        <div class="col-md-8 text-center ftco-animate">
          <h1 class="mb-4">
            E - Exceptional Teachers:
            <span> Making Education a Unique Experience</span>
          </h1>
          <p>
            <a href="/about" class="btn btn-secondary px-4 py-3 mt-3"
              >Read More</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-services ftco-no-pb">
  <div class="container-wrap">
    <div class="row no-gutters">
      <div
        class="col-md-3 d-flex services align-self-stretch pb-4 px-4 ftco-animate bg-primary"
      >
        <div class="media block-6 d-block text-center">
          <div class="icon d-flex justify-content-center align-items-center">
            <span class="flaticon-teacher"></span>
          </div>
          <div class="media-body p-2 mt-3">
            <h3 class="heading">Montessori Education</h3>
            <p>
              Our school follows the Montessori method of education, which
              emphasizes hands-on learning, self-directed exploration, and
              respect for each child's individual pace and learning style.
              Montessori education is designed to help children develop
              independence, self-confidence, and a lifelong love of learning.
              Our Montessori classrooms are equipped with specially designed
              materials that help children develop skills in areas of learning.
            </p>
          </div>
        </div>
      </div>
      <div
        class="col-md-3 d-flex services align-self-stretch pb-4 px-4 ftco-animate bg-tertiary"
      >
        <div class="media block-6 d-block text-center">
          <div class="icon d-flex justify-content-center align-items-center">
            <span class="flaticon-reading"></span>
          </div>
          <div class="media-body p-2 mt-3">
            <h3 class="heading">Qualified Teachers</h3>
            <p>
              Our school employs only the most qualified and experienced
              teachers who are passionate about helping children learn and grow.
              All of our teachers have a Bachelor's or Master's degree in
              education or a related field and are trained to work with children
              of all ages. We provide ongoing professional development
              opportunities to our teachers to ensure they stay up-to-date on
              the latest teaching techniques and best practices.
            </p>
          </div>
        </div>
      </div>
      <div
        class="col-md-3 d-flex services align-self-stretch pb-4 px-4 ftco-animate bg-fifth"
      >
        <div class="media block-6 d-block text-center">
          <div class="icon d-flex justify-content-center align-items-center">
            <span class="flaticon-books"></span>
          </div>
          <div class="media-body p-2 mt-3">
            <h3 class="heading">Multicultural Environment</h3>
            <p>
              Our school is committed to promoting diversity and inclusivity. We
              welcome students from a variety of cultural, linguistic, and
              socio-economic backgrounds. Our curriculum includes opportunities
              for students to learn about different cultures and traditions, and
              we celebrate cultural events and holidays throughout the year. Our
              teachers are trained to work with students from diverse
              backgrounds.
            </p>
          </div>
        </div>
      </div>
      <div
        class="col-md-3 d-flex services align-self-stretch pb-4 px-4 ftco-animate bg-quarternary"
      >
        <div class="media block-6 d-block text-center">
          <div class="icon d-flex justify-content-center align-items-center">
            <span class="flaticon-diploma"></span>
          </div>
          <div class="media-body p-2 mt-3">
            <h3 class="heading">Safe &amp; Secure Environment</h3>
            <p>
              The safety and security of our students is our top priority. We
              have implemented strict security measures, including surveillance
              cameras and controlled access. Our school is equipped with
              facilities to ensure that students can learn and play in a safe
              and secure environment. Our teachers and staff are trained in
              emergency response procedures and are equipped to handle a variety
              of situations to ensure the safety of our students.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-no-pt ftc-no-pb">
  <div class="container">
    <div class="row">
      <div class="col-md-5 order-md-last wrap-about py-5 wrap-about bg-light">
        <div class="text px-4 ftco-animate">
          <h2 class="mb-4">Welcome to Unique Prospect Montessori Academy</h2>
          <p>
            Dear parents, it’s with great pleasure, that I welcome you and
            learners to Unique prospect Montessori Academy, an institution
            synonymous with high standard and excellence.
          </p>
          <p>
            My great love for children and the desire to fulfil God’s call and
            mandate over my life brought about the establishment of UPMA on the
            16th of September, 2013.
          </p>
          <p>
            The name Unique Prospect Montessori Academy is indicative of raising
            Unique personalities who are well nurtured academically, socially,
            morally, psychologically, etc.
          </p>
          <p>
            At Unique prospect Montessori Academy we realize the fact that every
            new born child is a tabular rasa. Empty, without any obvious skill
            or knowledge. However, as the child grows, family, society, peers
            and churches input very strong impressions in the heart and mind of
            the young child. These impressions are the basis of the child’s
            attitudes, opinions and character in life. We are set to fill the
            vacuum recognizing the uniqueness of the individual child. With us,
            the learners will develop a relationship with God in conjunction
            with educational knowledge, technical know-how, integrity and
            morals.
          </p>
          <p>
            Unique prospect Montessori Academy has a team of hardworking, well
            dedicated and highly skilled staff whose desire is to provide every
            learner with an all-embracing basic education capable of moulding
            them into some of the best human resource for our nation and the
            world at large. With our serene environment, state of the art
            classrooms, academic work, teaching and learning is effective. The
            happiness and development of our learners is our most treasured
            asset as we make them Trailblazers.
          </p>
          <p>
            We operate an open door policy where Parents/Guardians are free to
            approach the school management on any matter concerning their
            children. At Unique prospect Montessori Academy our staff,
            parents/Guardians and learners are our greatest asset.
          </p>
        </div>
      </div>
      <div class="col-md-7 wrap-about py-5 pr-md-4 ftco-animate">
        <h2 class="mb-4">What We Offer Is Why We Are Unique!</h2>
        <p>
          Unique prospect Montessori Academy is literarily unique as the name
          implies. You expressly experience uniqueness in standard of education,
          unique content delivery, unique conducive environment designed to aid
          fast- paced learning and we also have wonderful teachers uniquely
          selected to bring about a total education of your children.
        </p>
        <div class="row mt-5">
          <div class="col-lg-6">
            <div class="services-2 d-flex">
              <div
                class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"
              >
                <span class="flaticon-security"></span>
              </div>
              <div class="text">
                <h3>Academic Excellence</h3>
                <p>
                  unique prospect Montessori Academy engages well qualified, time tested and passionate educators right from the lower basic to the upper basic sections to deliver her school programs. Standards are never compromised at every level. With these breed of staff running the program of the school every learner looks forward to a new school day to join their mates in class for a well simplified math, language art and other academic subjects / extra-curricular lessons. These development impressed our parents hence they are happy with the school.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="services-2 d-flex">
              <div
                class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"
              >
                <span class="flaticon-reading"></span>
              </div>
              <div class="text">
                <h3>Character Development</h3>
                <p>
                  Unique prospect Montessori Academy has a character development program in place which ensures that the academic learnings do not suffer abuse standing alone. Self-contentment, honestly, good study habit, respect of constituted authorities and gender explosions are some out of the numerous topics and disciplines inculcated into our learners. We believe that champions are sustained by good manners and modesty.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="services-2 d-flex">
              <div
                class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"
              >
                <span class="flaticon-diploma"></span>
              </div>
              <div class="text">
                <h3>School Community</h3>
                <p>
                  We realized early, that the imperative for school learning is to remove the distance / barrier that may exist between parents and school. 
                  This is achieved through our PTA – Parents Teachers Association which meets twice in a session...
    </p>
     <p class="mb-0">
              </p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="services-2 d-flex">
              <div
                class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"
              >
                <span class="flaticon-education"></span>
              </div>
              <div class="text">
                <h3>Extra-curricular Activities</h3>
                <p>
                  The school engage in other forms of learning outside the regular class activities e.g
<ul>
    <li>Home makers club</li>
    <li>Jets club</li>
    <li>Literary and debating club</li>
    <li>Press club</li>
    <li>Music club</li>
    </ul>        
                <a href="/about" class="btn btn-secondary">Read More <span class="ion-ios-arrow-round-forward"></span></a>
        </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-no-pb">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-2">
      <div class="col-md-8 text-center heading-section ftco-animate">
        <h2 class="mb-4"><span>Qualified and Competent</span> Teachers</h2>
        <p>
          We are proud to say that we have a team of highly qualified educators and administrators who are dedicated to providing a top-quality education to our pupils and students.
        </p>
      </div> 
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-3 ftco-animate">
        <div class="staff">
          <div class="img-wrap d-flex align-items-stretch">
            <div
              class="img align-self-stretch"
              style="background-image: url(/images/teacher-1.jpg)"
            ></div>
          </div>
          <div class="text pt-3 text-center">
            <h3>Adenike F. Mustapha</h3>
            <span class="position mb-2">Proprietress (N.C.E, B. Ed, M.Ed)</span>
            <div class="faded">
              <p>
                I am dedicated to providing a safe, nurturing, and stimulating learning environment where your child can grow and develop to their fullest potential. 
              </p>
              <ul class="ftco-social text-center">
                <li class="ftco-animate">
                  <a href="#"><span class="icon-whatsapp"></span></a>
                </li>
                <li class="ftco-animate">
                  <a href="#"><span class="icon-facebook"></span></a>
                </li>
                <li class="ftco-animate">
                  <a href="#"><span class="icon-instagram"></span></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 ftco-animate">
        <div class="staff">
          <div class="img-wrap d-flex align-items-stretch">
            <div
              class="img align-self-stretch"
              style="background-image: url(/images/teacher-2.jpg)"
            ></div>
          </div>
          <div class="text pt-3 text-center">
            <h3>Samuel O. Ukpiebo</h3>
            <span class="position mb-2">Principal (B.Sc, PGDE, MBA)</span>
            <div class="faded">
              <p>
                A passionate educator with commitment to striving for excellence by working to foster the intellectual, spiritual, emotional, social and psychological needs of learners.
              </p>
              <ul class="ftco-social text-center">
                <li class="ftco-animate">
                  <a href="#"><span class="icon-twitter"></span></a>
                </li>
                <li class="ftco-animate">
                  <a href="#"><span class="icon-facebook"></span></a>
                </li>
                <li class="ftco-animate">
                  <a href="#"><span class="icon-google-plus"></span></a>
                </li>
                <li class="ftco-animate">
                  <a href="#"><span class="icon-instagram"></span></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 ftco-animate">
        <div class="staff">
          <div class="img-wrap d-flex align-items-stretch">
            <div
              class="img align-self-stretch"
              style="background-image: url(/images/teacher-3.jpg)"
            ></div>
          </div>
          <div class="text pt-3 text-center">
            <h3>Oluebube J. Okafor</h3>
            <span class="position mb-2">Head Teacher (B. Ed)</span>
            <div class="faded">
              <p>
                A passionate teacher with sound moral character who ensures that students develop into individuals who can think and work independently.
              </p>
              <ul class="ftco-social text-center">
                <li class="ftco-animate">
                  <a href="#"><span class="icon-twitter"></span></a>
                </li>
                <li class="ftco-animate">
                  <a href="#"><span class="icon-facebook"></span></a>
                </li>
                <li class="ftco-animate">
                  <a href="#"><span class="icon-google-plus"></span></a>
                </li>
                <li class="ftco-animate">
                  <a href="#"><span class="icon-instagram"></span></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
     </div>
  </div>
</section>

<section class="ftco-section testimony-section bg-light">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-2">
      <div class="col-md-8 text-center heading-section ftco-animate">
        <h2 class="mb-4"><span>What Parents</span> Says About Us</h2>
        <p>
          At Unique Prospect Montessori Academy Parents and Guardians are our greatest asset. We enjoy
          listening to our Parents and take their feedback seriously and we are delighted to reveal a few of them below.
        </p>
      </div>
    </div>
    <div class="row ftco-animate justify-content-center">
      <div class="col-md-12">
        <div class="carousel-testimony owl-carousel">
          <div class="item">
            <div class="testimony-wrap d-flex">
              <div
                class="user-img mr-4"
                style="background-image: url(/images/female.jpg)"
              ></div>
              <div class="text ml-2 bg-light">
                <span
                  class="quote d-flex align-items-center justify-content-center"
                >
                  <i class="icon-quote-left"></i>
                </span>
                <p>
                  I absolutely love Unique Prospect  Montessori Academy. The  staff are incredibly awesome and caring. 
                  The learners are taught to be neat and courteous  and are well organized. My kids are  thriving 
                  and learning so much. They focus on God and excellence  is prevalent in everything they do. 
                  10000000% recommended!
                </p>
                <p class="name">Mrs. Ademola N. Y.</p>
                <span class="position">Mother</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap d-flex">
              <div
                class="user-img mr-4"
                style="background-image: url(/images/female.jpg)"
              ></div>
              <div class="text ml-2 bg-light">
                <span
                  class="quote d-flex align-items-center justify-content-center"
                >
                  <i class="icon-quote-left"></i>
                </span>
                <p>
                  This great institution is excellent Academically, Spiritually, Morally and Socially.
The school has a zero tolerance for bullying and favoritism. The members of staff are efficient and productive.
The Management of the school communicates effectively with the parents, students and staff of the institution.
                </p>
                <p class="name">Mrs. Florence  Onwuabusim</p>
                <span class="position">Mother</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap d-flex">
              <div
                class="user-img mr-4"
                style="background-image: url(/images/female.jpg)"
              ></div>
              <div class="text ml-2 bg-light">
                <span
                  class="quote d-flex align-items-center justify-content-center"
                >
                  <i class="icon-quote-left"></i>
                </span>
                <p>
                  Unique Prospect Montessori Academy has been a great school with hardworking staff, Making 
                  sure that the school leads in Academic and moral standards and seeing that every learner
                  excel and standout amongst their peers
                </p>
                <p class="name">Mrs. Roseline Michael</p>
                <span class="position">Mother</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap d-flex">
              <div
                class="user-img mr-4"
                style="background-image: url(/images/female.jpg)"
              ></div>
              <div class="text ml-2 bg-light">
                <span
                  class="quote d-flex align-items-center justify-content-center"
                >
                  <i class="icon-quote-left"></i>
                </span>
                <p>
                  This is a school that inculcates ideas, moral principles and a great sense of responsibility in the learners.
                  The enthusiasm, care and encouragement has made the learners avid, successful and hardworking. The school has 
                  exceeded our expectations in developing the whole children.
                </p>
                <p class="name">Mrs Ahmed Tina Onyemowo</p>
                <span class="position">Mother</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% include "recent_posts.njk" %}

{% endblock content %}
